
#header-container .heading2 {

}

.heading {
    font-size: 50px;
}

#header-section {
    
}

#header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#header-container .img-season {
    width: 320px;
}

#header-container .img-season h3 {
    width:100%;
    font-size: 18px;
}

#header-container .img-season img {
    width: 100%;
}